<<<<<<< HEAD
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
body{
    background: #f5f7fa;
}

.navbar{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;

   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 20px 40px;

   background: rgba(17,24,39,0.45);
   backdrop-filter: blur(12px);

   z-index: 1000;
   transition: all 0.3s ease;
   box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}
.logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 30px;
}
.menu li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
}
.menu li a:hover{
    color: #00d4ff;
}
.hero{
    height: 100vh;
    background: 
    linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),
    url('hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hero-text h1{
    font-size: 65px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.hero-text h1 span{
    color: #00d4ff;
}
.hero-text p{
    font-size: 22px;
    color: #e5e7eb;
    margin-bottom: 35px;
    max-width: 700px;
  }
.btn{
    display: inline-block;
    text-decoration: none;

    background: linear-gradient(135deg,#00d4ff,#2563eb);
    color:white;
    padding: 16px 38px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.4s;
    box-shadow:0 10px 30px rgba(0,212,255,0.35);
}
.btn:hover{
    transform: translateY(-5px)scale(1.05);
    box-shadow: 0 15px 40px rgba(0,212,255,0.6);
}
.hero-text{
    animation: fedeUp 1.5s ease;
}
@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(60px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}
.services{
    padding: 100px 10%;
    background: #f5f7fa;
    text-align: center;
}
.services h2{
    font-size: 45px;
    margin-bottom: 50px;
}
.service-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    background: white;
    width: 320px;
    padding: 35px 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: 0.4s;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}
.card h3{
    font-size: 28px;
    margin-bottom: 15px;
    color: #111827;
}
.card p{
    font-size: 17px;
    color: #6b7280;
    line-height: .7;
}
.card i{
    font-size: 50px;
    color: #00d4ff;
    margin-bottom: 20px;
    transition: 0.4s;
}
.card:hover i{
    transform: scale(1.2)rotate(10deg);
    color: #2563eb;
}
.portfolio{
    padding: 100px 10%;
    background: #ffffff;
    text-align: center;
}
.portfolio h2{
    font-size: 45px;
    margin-bottom: 50px;
}
.portfolio-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.project{
    width: 350px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    transition: 0.4s;
}
.project img{
    width: 100%;
    display: block;
    transition: 0.5s;
}
.project:hover{
    transform: translateY(-10px);
}
.project:hover img{
    transform: scale(1.1);
}
,about{
    padding: 100px 10%;
    background: #f8fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-text{
    max-width: 800px;
}
.about-text h2{
    font-size: 45px;
    margin-bottom: 25px;
    color: #888127;
}
.about-text p{
    font-size: 20px;
    line-height: 1.8;
    color: #6b7280;
    margin-bottom: 35px;
}
.stats{
    padding: 80px 10%;
    background: #111827;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.stats h2{
    font-size: 50px;
    color: #00d4ff;
    margin-bottom: 10px;
}
.stats p{
    color: white;
    font-size: 18px;
}
.testimonials{
    padding: 100px 10%;
    background: #f8fafc;
    text-align: center;
}
.testimonials h2{
    font-size: 45px;
    margin-bottom: 50px;
}
.testimonial-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.testimonial{
    width: 320px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: 0.4s;
}
.testimonial:hover{
    transform: translateY(-10px);
}
.testimonial p{
    font-style: italic;
    margin-bottom: 20px;
    color: #555;
}
.testimonial h3{
    color: #111827;
}
.contact{
    padding: 100px 10%;
    background: #ffffff;
    text-align: center;
}
.contact h2{
    font-size: 45px;
    margin-bottom: 40px;
}
.contact-form{
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form input,
.contact-form textarea{
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 17px;
    outline: none;
}
.footer{
    background: #111827;
    color: white;
    text-align: center;
    padding: 20px;
}
.footer h2{
    font-size: 32px;
    margin-bottom: 15px;
}
.footer p{
    color: #d1d5db;
    margin: 10px 0;
}
@media (max-width: 768px){
    .navbar{
        padding: 15px 20px;
    }
    .menu{
        display: none;
    }
    .hero-text h1{
        font-size: 40px;
    }
    .hero-text p{
        font-size: 18px;
    }
    .services,
    .portfolio,
    .about,
    .testimonials,
    .project{
        padding: 70px 20px;
    }
}
.menu-toggle{
    display: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
}
@media (max-width: 768px){
    .menu-toggle{
        display: block;
    }
    .menu{
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 220px;
        background: #111827;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
    }
    .menu.active{
        display: flex;
    }
}
.whatsapp{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    background: #25D366;
   color: white;
   font-size: 30px;
   text-decoration: none;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 5px 15px rgba(0,0,0,0.3);
   transition: 0.3s;
}
.whatsapp img{
    width: 35px;
    height: 35px;
    display: block;
    border: none;
    background: transparent;
}

.whatsapp:hover{
    transform: scale(1.1);
}
#topBtn{
    position: fixed;
    bottom: 100px;
    right: 25px;
    width: 55px;
    border: none;
    border-radius: 50%;
    background: #111827;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}
#topBtn:hover{
    background: #00d4ff;
    transform: translateY(-5px);
}
.services,
.project,
.testimonial{
    transition: 0.4s;

}
.service:hover,
.project:hover,
.testimonial:hover{
    transform: translateY(-10px);
}
=======
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
body{
    background: #f5f7fa;
}

.navbar{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;

   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 20px 40px;

   background: rgba(17,24,39,0.45);
   backdrop-filter: blur(12px);

   z-index: 1000;
   transition: all 0.3s ease;
   box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}
.logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 30px;
}
.menu li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
}
.menu li a:hover{
    color: #00d4ff;
}
.hero{
    height: 100vh;
    background: 
    linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),
    url('hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hero-text h1{
    font-size: 65px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.hero-text h1 span{
    color: #00d4ff;
}
.hero-text p{
    font-size: 22px;
    color: #e5e7eb;
    margin-bottom: 35px;
    max-width: 700px;
  }
.btn{
    display: inline-block;
    text-decoration: none;

    background: linear-gradient(135deg,#00d4ff,#2563eb);
    color:white;
    padding: 16px 38px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.4s;
    box-shadow:0 10px 30px rgba(0,212,255,0.35);
}
.btn:hover{
    transform: translateY(-5px)scale(1.05);
    box-shadow: 0 15px 40px rgba(0,212,255,0.6);
}
.hero-text{
    animation: fedeUp 1.5s ease;
}
@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(60px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}
.services{
    padding: 100px 10%;
    background: #f5f7fa;
    text-align: center;
}
.services h2{
    font-size: 45px;
    margin-bottom: 50px;
}
.service-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    background: white;
    width: 320px;
    padding: 35px 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: 0.4s;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}
.card h3{
    font-size: 28px;
    margin-bottom: 15px;
    color: #111827;
}
.card p{
    font-size: 17px;
    color: #6b7280;
    line-height: .7;
}
.card i{
    font-size: 50px;
    color: #00d4ff;
    margin-bottom: 20px;
    transition: 0.4s;
}
.card:hover i{
    transform: scale(1.2)rotate(10deg);
    color: #2563eb;
}
.portfolio{
    padding: 100px 10%;
    background: #ffffff;
    text-align: center;
}
.portfolio h2{
    font-size: 45px;
    margin-bottom: 50px;
}
.portfolio-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.project{
    width: 350px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    transition: 0.4s;
}
.project img{
    width: 100%;
    display: block;
    transition: 0.5s;
}
.project:hover{
    transform: translateY(-10px);
}
.project:hover img{
    transform: scale(1.1);
}
,about{
    padding: 100px 10%;
    background: #f8fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-text{
    max-width: 800px;
}
.about-text h2{
    font-size: 45px;
    margin-bottom: 25px;
    color: #888127;
}
.about-text p{
    font-size: 20px;
    line-height: 1.8;
    color: #6b7280;
    margin-bottom: 35px;
}
.stats{
    padding: 80px 10%;
    background: #111827;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.stats h2{
    font-size: 50px;
    color: #00d4ff;
    margin-bottom: 10px;
}
.stats p{
    color: white;
    font-size: 18px;
}
.testimonials{
    padding: 100px 10%;
    background: #f8fafc;
    text-align: center;
}
.testimonials h2{
    font-size: 45px;
    margin-bottom: 50px;
}
.testimonial-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.testimonial{
    width: 320px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: 0.4s;
}
.testimonial:hover{
    transform: translateY(-10px);
}
.testimonial p{
    font-style: italic;
    margin-bottom: 20px;
    color: #555;
}
.testimonial h3{
    color: #111827;
}
.contact{
    padding: 100px 10%;
    background: #ffffff;
    text-align: center;
}
.contact h2{
    font-size: 45px;
    margin-bottom: 40px;
}
.contact-form{
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form input,
.contact-form textarea{
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 17px;
    outline: none;
}
.footer{
    background: #111827;
    color: white;
    text-align: center;
    padding: 20px;
}
.footer h2{
    font-size: 32px;
    margin-bottom: 15px;
}
.footer p{
    color: #d1d5db;
    margin: 10px 0;
}
@media (max-width: 768px){
    .navbar{
        padding: 15px 20px;
    }
    .menu{
        display: none;
    }
    .hero-text h1{
        font-size: 40px;
    }
    .hero-text p{
        font-size: 18px;
    }
    .services,
    .portfolio,
    .about,
    .testimonials,
    .project{
        padding: 70px 20px;
    }
}
.menu-toggle{
    display: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
}
@media (max-width: 768px){
    .menu-toggle{
        display: block;
    }
    .menu{
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 220px;
        background: #111827;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
    }
    .menu.active{
        display: flex;
    }
}
.whatsapp{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    background: #25D366;
   color: white;
   font-size: 30px;
   text-decoration: none;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 5px 15px rgba(0,0,0,0.3);
   transition: 0.3s;
}
.whatsapp img{
    width: 35px;
    height: 35px;
    display: block;
    border: none;
    background: transparent;
}

.whatsapp:hover{
    transform: scale(1.1);
}
#topBtn{
    position: fixed;
    bottom: 100px;
    right: 25px;
    width: 55px;
    border: none;
    border-radius: 50%;
    background: #111827;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}
#topBtn:hover{
    background: #00d4ff;
    transform: translateY(-5px);
}
.services,
.project,
.testimonial{
    transition: 0.4s;

}
.service:hover,
.project:hover,
.testimonial:hover{
    transform: translateY(-10px);
}
>>>>>>> 41c4fc7bf1ff2822fb7472f55ce53f4ad5f5d207
